<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-content>
        <div class="row">
            <div class="col-md-6">
              <h2><i class="bi bi-person-square" style="margin-right: 5px;"></i> {{user.name}}</h2>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <i class="bi bi-check-circle-fill" [style.color]="user.status.color" style="margin-right: 5px;"></i> <span>{{activeStatus.activeStatus}}</span>
            </div>
          
            <div class="col-md-12" >
              <mat-form-field appearance="outline"  >
                <mat-label>{{activeStatus.activeStatus}}</mat-label>
                <mat-select [(ngModel)]="user.status" (selectionChange)="changeStatus()">
                  <mat-option *ngFor="let status of statusList" [value]="status">{{status.activeStatus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>